<%= form_with(model: @imagepost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "画像タイトルを入力してください" %><br>
    <%= f.text_field :content, placeholder: "content" %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %><br>
  </span>
  <%= f.submit "アップロード", class: "btn" %>
<% end %>
